body {
	font-family: 'Quicksand', sans-serif;
	background-color: #2b2b2b;
}
#splash {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #2b2b2b;
	color: rgb(247,182,23);
	z-index: 1;
	padding-top:50%;
	font-weight: normal;
}

.principalSection {
	color: rgb(247,182,23);
	font-weight: normal;
}
.principalSection .line {
	display: inline-block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.line img {
	width: 100%;
}

.secondSection iframe {
	border: 0;
	width: 100%;
	height: auto;
}
.selectSection {
	color: rgb(247,182,23);
}
/* estilos del table */
.content-search {
    width: 100%;
    height: auto;
    background-color: darkgray;
    display: none;
}
.content-table {
    width: 98%;
    max-height: 150px;
    height: auto;
    background-color: darkgray;
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;
    /*display: none;*/
}
.content-table table {
    width: 100%;
}
tbody tr td a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
tbody tr td a:hover {
    background-color: darkslategray;
    color: white;
}
/* cosas dentro de la lista de imagenes de filtrado */
.images-filter div img {
	width: 90px;
	height: 100px;
	box-shadow: 1px 2px 1px black;
	cursor: pointer;
}

.images-filter div {
	float: left;
	margin: 10px;
}
.images-filter {
	width: 100%;
}
/* escondiendo algunas cosas de la libreria */
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate  { 
    display: none;
}
/* modificando bootstrap */
.row {
	margin: 0;
	border:0;
}
/* el form prevalecia sobre el splash por un z-index = 2*/
.input-group .form-control {
	z-index: 0;
}